<%= form_for @changeset, product_path(@conn, :create), fn f -> %>
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="text-center cell">
        <h3> <%= gettext("Add a product") %> </h3>
      </div>

      <div>
        <%= label f, :name do %>
          <%= gettext("Name") %>
          <%= text_input f, :name %>
        <% end %>

        <%= submit gettext("Upload product"), class: "button success" %>
      </div>
    </div>
  </div>
<% end %>
