<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= @view_module.description(@view_template, assigns) %>">

    <title> <%= @view_module.title(@view_template, assigns) %> </title>

    <meta name="author" content="Ecom">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <link rel="manifest" href="/js/manifest.json">

    <!-- Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Ecom">
    <link rel="apple-touch-icon" href="images/logo.png">

    <!-- Paypal -->
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <!-- FontAwesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <%= if current_user(@conn) do %>
      <%= tag :meta, name: "channel_token", content: Phoenix.Token.sign(EcomWeb.Endpoint, "token_salt", current_user(@conn).id) %>
    <% end %>
  </head>

  <body>
    <%=
      render("header.html",
        conn: @conn,
        user: current_user(@conn),
        current_path: Phoenix.Controller.current_path(@conn, %{})
      )
    %>

    <div class="grid-container">
      <%
        secondary = get_flash(@conn, :secondary)
        primary   = get_flash(@conn, :primary)
        success   = get_flash(@conn, :success)
        warning   = get_flash(@conn, :warning)
        alert     = get_flash(@conn, :alert)
      %>

      <br />

      <%= cond do %>
        <% secondary -> %>
          <p class="callout secondary" alert="role"><%= get_flash(@conn, :secondary) %></p>
        <% primary -> %>
          <p class="callout primary" alert="role"><%= get_flash(@conn, :primary) %></p>
        <% success -> %>
          <p class="callout success" alert="role"><%= get_flash(@conn, :success) %></p>
        <% warning -> %>
          <p class="callout warning" alert="role"><%= get_flash(@conn, :warning) %></p>
        <% alert -> %>
          <p class="callout alert" alert="role" data-close><%= get_flash(@conn, :alert) %></p>
        <% true -> %>
          <%= nil %>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script>window.userToken = "<%= assigns[:user_token] %>"</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
